* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Orbitron", sans-serif;
}
p {
  font-family: "Calibri", sans-serif;
}

#root {
  height: 100vh;
}
