/* Bloc de la page */

.editorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--primary-color);
}

/* Titre de la page */
.editorHeader {
  margin-top: 1em;
  color: var(--text-color);
  font-family: "Orbitron", sans-serif;
}
/* Barre de progression */
.progressBar {
  margin-bottom: 1em;
}

.notionText {
  color: var(--text-color);
  text-align: center;
  font-family: sans-serif;
  font-size: 0.9em;
  width: 97%;
}

.exercise {
  margin-top: 0.5em;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.1em;
  border: solid #60ccf5;
  width: 95%;
  padding: 0.1em 0 0.1em 0.1em;
  background-color: #60ccf5;
  color: #1e1e1e;
}

.editor_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Bloc paragraphe énoncer */
.dataText {
  margin-bottom: 0.5em;
}

/* Boutton réponse */
.responsBtn {
  margin-top: 0.7em;
  font-family: "Orbitron", sans-serif;
  font-size: medium;
  color: black;
  margin-bottom: 1em;
  background-color: #60ccf5;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  &:hover {
    color: var(--tertiary-color);
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.95);
  }
}

.editor_wrapper {
  width: 90vw;
  margin-top: 2em;
  z-index: 0;
}

.exercise {
  font-size: 0.8em;
}
