@media screen and (max-width: 768px) {
  h2 {
    text-align: center;
    color: white;
    font-size: 1em;
    background-color: #586d96;
    padding: 1em;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  h2 {
    text-align: center;
    color: white;
    font-size: 1em;
    background-color: #586d96;
    padding: 1em;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  h2 {
    text-align: center;
    color: white;
    font-size: 1.5em;
    background-color: #586d96;
    padding: 1em;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
