@media screen and (max-width: 768px) {
  .logo {
    width: 20%;
  }

  .navbar {
    display: flex;
  }
  a.navbar-link {
    font-family: "Orbitron", sans-serif;
    font-size: 20px;
  }
  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  .navbar-link {
    color: white;
    font-size: 3rem;
    display: block;
    padding: 3rem;
    text-decoration: none;
  }

  /* .show-nav {
    z-index: 1;
  } */
  .show-nav .nav-links {
    width: 100%;
    right: 0;
    visibility: visible;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
    right: 0;
    left: 0;
    right: -100vh;
    bottom: 0;
    height: 100%;
    padding-top: 2rem;
    visibility: hidden;
    background-color: #1f275c;
    z-index: 1;
  }

  .navbar-burger {
    display: block;
    position: fixed;
    top: 2rem;
    right: 2rem;
    border: none;
  }

  .navbar-burger:hover {
    cursor: pointer;
    position: fixed;
    top: 2rem;
    z-index: 2;
  }
  .burger-bar,
  .burger-bar::before,
  .burger-bar::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
  }

  .burger-bar::before,
  .burger-bar::after {
    content: "";
    position: absolute;
    left: 0;
  }
  .burger-bar::before {
    transform: translateY(-12px);
  }

  .burger-bar::after {
    transform: translateY(12px);
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .logo {
    width: 20%;
  }

  .navbar {
    display: flex;
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  .navbar-link {
    color: white;
    font-size: 3rem;
    display: block;
    padding: 3rem;
    text-decoration: none;
  }
  .show-nav .nav-links {
    width: 100%;
    right: 0;
    visibility: visible;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
    left: 0;
    right: -100vh;
    height: 100%;
    padding-top: 2rem;
    visibility: hidden;
    background-color: #1f275c;
    z-index: 1;
  }

  .navbar-burger {
    display: block;
    position: fixed;
    top: 2rem;
    right: 2rem;
    border: none;
  }

  .navbar-burger:hover {
    cursor: pointer;
    position: fixed;
    top: 2rem;
    z-index: 2;
  }
  .burger-bar,
  .burger-bar::before,
  .burger-bar::after {
    display: block;
    width: 50px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
  }

  .burger-bar::before,
  .burger-bar::after {
    content: "";
    position: absolute;
    left: 0;
  }
  .burger-bar::before {
    transform: translateY(-12px);
  }

  .burger-bar::after {
    transform: translateY(12px);
  }
}
.show-nav .burger-bar,
.show-nav .burger-bar::before,
.show-nav .burger-bar::after {
  background-color: white;
}
@media screen and (min-width: 992px) {
  .navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    padding: 1rem;
    min-height: 1rem;
    background-color: #586d96;
    color: white;
  }

  .logo {
    width: 10%;
  }
  .navbar-links {
    display: flex;
  }
  .navbar-link {
    padding: 0.5em;
    color: white;
    text-decoration: none;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 2rem;
  }

  .navbar-burger {
    width: 60px;
    height: 40px;
    background-color: transparent;
    border: none;
    color: inherit;
    display: none;
  }
}
